body {
    width: 150px;
}

input, p {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding: 5px;
}

input::placeholder {
    text-align: center;
}

form > * {
    margin-bottom: 7px;
}

form input[type="submit"] {
    margin-bottom: 3px;
}

.success {
    color: green;
}

.error {
    color: red;
}
